<ion-header >
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profesor"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista {{cursoId}}</ion-title>
    
              
    
    <ion-buttons slot="end">
    <ion-button (click)="generarCodigoQR()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let alumno of alumnos">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
               <p>{{alumno.id}}</p>
              <p>Nombre: {{ alumno.nombre }}</p>
              <p>Apellido: {{ alumno.apellido}}</p>
              <p>Edad: {{ alumno.edad }}</p>
            </ion-col>
            <ion-col size="6">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


<!-- Imagen del código QR (solo se muestra cuando codigoQRUrl tiene un valor) -->
<div *ngIf="codigoQRUrl" class="codigo-qr-fullscreen  tool">
  <ion-button (click)="cerrarCodigoQR()" fill="clear" slot="start" color="danger">
    <ion-icon name="close-circle-outline"></ion-icon>
  </ion-button>
  <img [src]="codigoQRUrl" alt="Código QR" title="Código QR" />
</div>









